*{
	background-color:pink;
}

#course{
	
	text-align:justify;
}

.grid_6{
	font-family:cambria;
	color:purple;
	box-shadow:0 1px 3px;
}


#banner{
	margin-top:30px;
	
}

h1{
	color:purple;
	font-family:fantasy;
	
}

br{
	font-family:cambria;
	color:purple;
}
